{% extends "Blog_sys/base.html" %}
{% block content %}
<div class="container">
  <div class="card bg-info text-white">
    <div class="card-body">In this section you will see all <strong>announcements</strong></div>
  </div>
  <br>  
</div>

{% for announcement in announcements %}
  <div class="container">
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ announcement.date_posted|date:"F j , Y , H:i" }}</small>
            </div>
              <h2><a class="article-title">{{ announcement.title }}</a></h2>
            <p class="article-content">{{ announcement.content }}</p>
          </div>
    </article>    
  </div>
{% endfor %}

{% endblock content %}